#from urllib.parse import quote
#from time import localtime, strftime
#from os.path import dirname
#from html import escape
#from Plugins.Extensions.OpenWebif.controllers.i18n import tstrings
#from Plugins.Extensions.OpenWebif.controllers.defaults import isSettingEnabled

<style>
	.movies-card {
		box-shadow: none;
	}
	.movies-sticky {
		position: sticky;
		top: 70px;
		z-index: 10;
		background: inherit;
		border-bottom: 1px solid rgba(204, 204, 204, 0.35);
	}
	.movies-sticky .body {
		padding-bottom: 10px;
	}
	.movies-sticky nav {
		margin-left: 15px;
	}
	.movie-recording-path {
		display: block;
		font-size: 12px;
		font-weight: normal;
		color: #999;
		overflow-wrap: anywhere;
	}
	body:not(.theme--supabright) .movies-sticky {
		border-bottom-color: var(--background-color--hover);
	}
	@media (min-width: 1170px) {
		.movies-sticky {
			top: 100px;
		}
		.movies-sticky::before {
			content: "";
			position: absolute;
			bottom: 100%;
			left: 0;
			right: 0;
			height: 100px;
			background: var(--background-color--main, #e9e9e9);
		}
	}
	@media (max-width: 767px) {
		.movies-sticky {
			top: 0;
		}
	}
</style>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="card movies-card">
		<div class="movies-sticky">
			<div class="header">
				<div class="row clearfix">
					<div class="col-xs-12 col-sm-6">
						<h2><i class="material-icons material-icons-centered">movie</i>$tstrings['movies']</h2>
					</div>
				</div>
				<ul class="header-dropdown list-tag-filter-toolbar">
					<li><button type="button" class="list-tag-filter-toggle" data-tag-filter-toggle="movies" title="$tstrings['tag_filter_title']" aria-label="$tstrings['tag_filter_title']" aria-expanded="false"><svg class="list-tag-filter-icon--off" data-icon="ic:round-filter-alt-off" viewBox="0 0 24 24" aria-hidden="true"><path d="M19.79 5.61A.998.998 0 0 0 19 4H6.83l7.97 7.97zm.7 14.88L3.51 3.51A.996.996 0 1 0 2.1 4.92L10 13v5c0 1.1.9 2 2 2s2-.9 2-2v-1.17l5.07 5.07c.39.39 1.02.39 1.41 0s.4-1.02.01-1.41"/></svg><svg class="list-tag-filter-icon--on" data-icon="ic:round-filter-alt" viewBox="0 0 24 24" aria-hidden="true" hidden><path d="M4.25 5.61C6.57 8.59 10 13 10 13v5c0 1.1.9 2 2 2s2-.9 2-2v-5s3.43-4.41 5.75-7.39c.51-.66.04-1.61-.8-1.61H5.04c-.83 0-1.3.95-.79 1.61"/></svg></button></li>
					#if $recursive
					<li><button type="button" class="list-tag-filter-toggle movies-view-toggle" data-directory="$escape($directory, quote=True)" data-view="list" title="$tstrings['movielist']" aria-label="$tstrings['movielist']" aria-pressed="true" onclick="toggleMoviesView();"><svg data-icon="ic:sharp-account-tree" viewBox="0 0 24 24" aria-hidden="true" hidden><path d="M22 11V3h-7v3H9V3H2v8h7V8h2v10h4v3h7v-8h-7v3h-2V8h2v3z"/></svg><svg data-icon="ic:sharp-view-list" viewBox="0 0 24 24" aria-hidden="true"><path d="M3 14h4v-4H3zm0 5h4v-4H3zM3 9h4V5H3zm5 5h13v-4H8zm0 5h13v-4H8zM8 5v4h13V5z"/></svg></button></li>
					#else
					<li><button type="button" class="list-tag-filter-toggle movies-view-toggle" data-directory="$escape($directory, quote=True)" data-view="folders" title="$tstrings['folders']" aria-label="$tstrings['folders']" aria-pressed="false" onclick="toggleMoviesView();"><svg data-icon="ic:sharp-account-tree" viewBox="0 0 24 24" aria-hidden="true"><path d="M22 11V3h-7v3H9V3H2v8h7V8h2v10h4v3h7v-8h-7v3h-2V8h2v3z"/></svg><svg data-icon="ic:sharp-view-list" viewBox="0 0 24 24" aria-hidden="true" hidden><path d="M3 14h4v-4H3zm0 5h4v-4H3zM3 9h4V5H3zm5 5h13v-4H8zm0 5h13v-4H8zM8 5v4h13V5z"/></svg></button></li>
					#end if
					<li><a href="javascript:void(0);" onclick="refreshMoviesView(); return false;" title="$tstrings['refresh']"><i class="material-icons">autorenew</i></a></li>
					<li class="dropdown">
						<a href="javascript:void(0);" class="dropdown-toggle m-l-5 m-r-5" title="$tstrings['sort']" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">sort</i></a>
						<ul class="dropdown-menu pull-right" id="timerbuttons">
							<li><a href="javascript:void(0);" onclick="changeMoviesort('name'); return false;"><i class="material-icons material-icons-centered">vertical_align_bottom</i>$tstrings['name_asc']</a></li>
							<li><a href="javascript:void(0);" onclick="changeMoviesort('named'); return false;"><i class="material-icons material-icons-centered">vertical_align_top</i>$tstrings['name_desc']</a></li>
							<li><a href="javascript:void(0);" onclick="changeMoviesort('date'); return false;"><i class="material-icons material-icons-centered">vertical_align_bottom</i>$tstrings['date_asc']</a></li>
							<li><a href="javascript:void(0);" onclick="changeMoviesort('dated'); return false;"><i class="material-icons material-icons-centered">vertical_align_top</i>$tstrings['date_desc']</a></li>
						</ul>
					</li>
				</ul>
				<div class="row clearfix">
					<div class="col-xs-12 col-sm-4">
						#set $movieView = 'list' if $recursive else 'folders'
						<form action="/" method="get" id="movie-search-form" data-directory="$escape($directory, quote=True)" data-view="$movieView" data-search="" onsubmit="searchMovies(this); return false;" class="form-group" style="margin-bottom: 5px;">
							<div class="form-line" style="display: inline-block; width: calc(100% - 60px);">
								<input type="search" name="find" id="movie-search-text" placeholder="$tstrings['search']" aria-label="$tstrings['search']" class="form-control">
							</div>
							<button type="submit" class="btn btn-default waves-effect" aria-label="$tstrings['search']">
								<i class="material-icons">search</i>
							</button>
						</form>
					</div>
				</div>
			</div>
			<div class="body">
				<div id="tag-filter-movies" class="list-tag-filter" data-list="movies" data-known="$tstrings['known_tags']" data-used="$tstrings['tag_filter_used']" data-clear="$tstrings['tag_filter_clear']" data-matches="$tstrings['tag_filter_matches']" data-error="$tstrings['tag_filter_error']">
					<div class="list-tag-filter-panel" hidden><div class="list-tag-filter-options"></div></div>
					<div class="list-tag-filter-selection" hidden><span class="list-tag-filter-chips"></span><button type="button" class="btn btn-default list-tag-filter-clear">$tstrings['tag_filter_clear']</button><span class="list-tag-filter-count"></span></div>
				</div>
				<div class="row clearfix m-l-20">
					<nav>
#set $path=''
#set $dirs = $directory[0:].split("/")[1:-1]
#set $dirDepth = len($dirs)
#set $index = 1

#for $dir in $dirs
	#set $path += '/' + $dir
	#if $index != $dirDepth
								<a href="javascript:void(0);" class="link--skinned p-r-10" data-movie-directory="$escape($path, quote=True)" onclick="openMoviesDirectory(this.dataset.movieDirectory);">
									<i class="material-icons material-icons-centered">folder_open</i>
									$dir
								</a>
								<i class="material-icons material-icons-centered">chevron_right</i>
	#else
		#set $movieCountText = _("%d movies") % len($movies)
								<span class="p-r-10 p-l-0" id="moviedirbtn">
									<i class="material-icons material-icons-centered">folder_open</i>
									$dir
								</span>
								[ $movieCountText ]
	#end if
	#set $index = $index + 1
#end for

#if not $recursive and $len($bookmarks)
							<i class="material-icons material-icons-centered">chevron_right</i>
							<span class="form-group" style="width: auto;">
								<select class="form-control" id="directory" style="display: inline-block; padding-left: 0; width: auto;">
									<option>&rdsh; $tstrings['subdirectories']</option>
	#for $bookmark in $bookmarks
		#set $bookmarkPath = $directory + $bookmark
									<option value="$escape($bookmarkPath, quote=True)">$bookmark</option>
	#end for
								</select>
							</span>
#end if
					</nav>
				</div>
			</div>
		</div>
		<div class="body">
			<div id="content_main">
				<div id="tvcontentmain">
					#set $count = 0
					#for $movie in $movies
					#set $mname = $movie.eventname.replace("\"", r"'")
					<div class="row clearfix list-tag-filter-item" data-filter-tags="$escape($movie.tags or '', quote=True)">
						<div class="col-xs-12" id="movies">
								<div class="card" id="$count">
									<div class="header">
										<div class="row clearfix">
											<div class="col-xs-8">
												<h2><i class="material-icons material-icons-centered">movie</i>$movie.eventname - $movie.servicename<span class="movie-recording-path">$escape($dirname($movie.filename))</span></h2>
											</div>
											<div class="col-xs-4">
													<ul class="header-dropdown">
														<li><span role="button"><a href="javascript:void(0);" onclick="playRecording('$quote($movie.serviceref)');" title="$tstrings['playback']"><i class="material-icons material-icons-centered">play_circle_outline</i></a></span></li>
														#if $transcoding
														<li><span role="button"><a href="javascript:void(0);" onclick="jumper80('$quote($movie.filename)');" title="$tstrings['stream']: $mname"><i class="material-icons material-icons-centered">tv</i></a></span></li>
														<li><span role="button"><a href="javascript:void(0);" onclick="jumper8003('$quote($movie.filename)');" title="$tstrings['stream'] ($tstrings['transcoded']): $mname"><i class="material-icons material-icons-centered">phone_android</i></a></span></li>
														#else
														<li><span role="button"><a href="web/ts.m3u?file=$quote($movie.filename)" title="$tstrings['stream'] $mname" target="_blank"><i class="material-icons material-icons-centered">tv</i></a></span></li>
														#end if
														
														#set $eventname_escaped =  $movie.eventname.replace("'", r"\'").replace('"', r"\'")
														<li><span role="button"><a href="/file?action=download&file=$quote($movie.filename)" title="$tstrings['download'] $mname"><i class="material-icons material-icons-centered">cloud_download</i></a></span></li>
														<li><span role="button"><a href='javascript:void(0);' onclick="renameMovie('$quote($movie.serviceref)','$eventname_escaped');" title="$tstrings['rename_recording']"><i class="material-icons material-icons-centered">edit</i></a></span></li>
														<li><span role="button"><a href='javascript:void(0);' onclick="deleteMovie('$quote($movie.serviceref)', '$count', '$eventname_escaped'); return false;" title="$tstrings['delete_recording']"><i class="material-icons material-icons-centered">delete</i></a></span></li>
													</ul>
											</div>
										</div>
											<div class="row clearfix" style="margin-bottom:-25px;">
												<div class="col-xs-8">
														#set $dateRecorded = time.strftime("%c", time.localtime($movie.recordingtime))
														<span>$dateRecorded</span>
															#set $w = $movie.lastseen
															#set $size = '0'
															#if $w > 0
																#set $w = $w * 70 / 100
																#set $size = str($w)
																<div class="ui-progressbar ui-corner-all ui-widget ui-widget-content">
																	<div class="ui-progressbar-value ui-corner-left ui-widget-header" style="width: $size;"></div>
																</div>
															#end if
															<div class="progress progress-striped" style="margin-bottom:0px;width:35%;max-width:200px;min-width:100px;height:10px;">
																<div class="progress-bar bg--skinned" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:$size%;"></div>
															</div>
															<span>$movie.length min. / $movie.filesize_readable</span>
												</div>
											</div>
									</div>
									<div class="body">
											<div class="row clearfix" style="margin-bottom:-25px;">
												<div class="col-xs-12">
													<span data-toggle="collapse" data-target="#eventid$count" aria-expanded="false"aria-controls="collapseExample" style="cursor:pointer;"><b>$movie.description</b><i class="material-icons material-icons-centered">expand_more</i></span>
													<div class="list-tag-item-tags"></div>
												<div class="collapse" id="eventid$count">
													<p>$movie.descriptionExtended</p>
												</div>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
					#set $count += 1
					#end for
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	jQuery(function() {
		MLHelper.Load('name');
		initListTagFilter('movies');
	});

#if $len($bookmarks)
	jQuery(function() {
		jQuery('#directory').change(function() {
			openMoviesDirectory(this.value);
		});
	});
#end if
</script>
