#from urllib.parse import quote
#from Plugins.Extensions.OpenWebif.controllers.i18n import tstrings
#from json import dumps
#from html import escape
#from time import localtime, strftime
#import time as epgClock
#from Plugins.Extensions.OpenWebif.controllers.views.responsive.ajax.epgdaterange import formatEpgDateRange, getEpgDateLabels, getEpgTimeContext
#from Plugins.Extensions.OpenWebif.controllers.views.responsive.ajax.renderevtblock import renderEvtBlock

#set $epgTime = $getEpgTimeContext($slot_start)
#set $first = $epgTime['first']
#if $mode == 2
	#set $first = $timeline_start
#end if
#set $now = $epgClock.time()
#set $epgConfig = {'mode': $mode, 'day': $day, 'week': $week, 'epgmode': $epgmode, 'bref': $quote($bref), 'slotStart': $slot_start, 'first': $first, 'dateLabels': $getEpgDateLabels($tstrings), 'jumpNow': $epg_jump_now, 'jumpActiveService': $epg_jump_active_service, 'currentServiceRef': $current_service_ref}
#if $mode == 2
	#set $epgConfig['timelineEnd'] = $timeline_end
#end if
<div id="modern-epg" class="modern-epg#if $mode == 2 then ' modern-epg--timeline' else '' #" data-epg-config="$escape($dumps($epgConfig, separators=(',', ':')), quote=True)">
<div id="navepg">
<ul class="nav nav-tabs tab--skinned">
<li id="epg-calendar-wrap">
	<button type="button" id="epg-calendar-toggle" class="epg-calendar__toggle" data-bref="$escape($bref, quote=True)" aria-label="$tstrings['date']" title="$tstrings['date']" aria-expanded="false" aria-controls="epg-calendar-popup"><i class="material-icons" aria-hidden="true">date_range</i></button>
	<div id="epg-calendar-popup" class="epg-calendar" role="dialog" aria-label="$tstrings['date']">
		<div class="epg-calendar__header">
			<button type="button" id="epg-calendar-prev" aria-label="$tstrings['date']">&lsaquo;</button>
			<strong id="epg-calendar-month"></strong>
			<button type="button" id="epg-calendar-next" aria-label="$tstrings['date']">&rsaquo;</button>
		</div>
		<div id="epg-calendar-grid" class="epg-calendar__grid">
			<span>$tstrings['day_1']</span><span>$tstrings['day_2']</span><span>$tstrings['day_3']</span><span>$tstrings['day_4']</span><span>$tstrings['day_5']</span><span>$tstrings['day_6']</span><span>$tstrings['day_0']</span>
		</div>
	</div>
</li>
#for $slot in list(range(0,7))
	<li><div class="plusclick navtab-#if $slot==$day then 'active' else 'inactive' #" data-day="$(slot)">$tstrings['day_%d' % $epgTime['weekdays'][$slot]]</div></li>
#end for
<li><div class="plusclick lbl">&nbsp;$tstrings['prime_times']:&nbsp;</div></li>
<li><div id="pt0" class="plusclick navtab-inactive" data-day="201" data-time="$epgTime['prime_times'][0]">06:00</div></li>
<li><div id="pt1" class="plusclick navtab-inactive" data-day="202" data-time="$epgTime['prime_times'][1]">12:00</div></li>
<li><div id="pt2" class="plusclick navtab-inactive" data-day="203" data-time="$epgTime['prime_times'][2]">20:00</div></li>
<li><div id="pt3" class="plusclick navtab-inactive">&nbsp;</div></li>
<li><div id="pt4" class="plusclick navtab-#if $day==0 and $week==0 then 'active' else 'inactive' #" data-day="200">$tstrings['now']</div></li>

#if $mode == 1
<li><div class="plusclick lbl">&nbsp;$tstrings['cw']:&nbsp;</div></li>
#for $wk in list(range(0,3))
	#set $w = $wk + 1000
	<li><div class="plusclick navtab-#if $wk==$week then 'active' else 'inactive' #" data-day="$(w)">$epgTime['weeks'][$wk]</div></li>
#end for
#end if
<li><div class=" lbl">&nbsp;$tstrings['display_mode']:&nbsp;</div></li>
<li><div class="plusclick navtab-#if $mode==1 then 'active' else 'inactive' #" data-day="101">$tstrings['tv_guide']</div></li>
<li><div class="plusclick navtab-#if $mode==2 then 'active' else 'inactive' #" data-day="102">$tstrings['timeline']</div></li>
</ul>

<div id="compressmepg" onclick="CompressMEPG();"><i id="compressmepgi" class="fa fa-compress link" aria-hidden="true"></i></div>
<div id="refreshmepg2" onclick="RefreshMEPG();"><i id="refreshmepgi" class="fa fa-refresh link" aria-hidden="true"></i></div>

#if $slot_start
<div id="epg-date-range">$formatEpgDateRange($slot_start, $tstrings)</div>
#end if
<div id="bqwrap">
<ul id="bqlist" class="nav nav-tabs tab--skinned">
#for $bq in $bouquets
	<li><div class="bq navtab-#if $bq[0]==$bref then 'active' else 'inactive' #" data-ref="$quote($bq[0])">$bq[1]</div></li>
#end for
</ul>
</div>
</div>

#if $mode == 1
#set $renderEventBlock = $renderEvtBlock()
<div id="fulltbl" class="responsive-table epg__tv-guide" data-slot-start="$slot_start" data-refresh-url="ajax/multiepg?bref=$quote($bref)&amp;day=$day&amp;epgmode=$epgmode&amp;week=$week">
#if $day == 0 and $week == 0
	<div class="epg__tv-guide-now"></div>
#end if
	<table border="0" cellpadding="0" cellspacing="0" width="100%" id="tbl1" class="table table-striped">
		<thead>
			<tr id="tbl2body">
#for $sname, $eventlist in $events.items()
#set $ref = $channelrefs.get($sname, "")
#set $qref = $quote($ref, safe=' ~@#$()*!+=:;,.?/\'').replace('%253a//','%3a//')
				<td class="serviceheader" data-sref="$ref" data-ref="$qref">
					<div class="service event" data-sref="$ref" data-ref="$qref"><img src="$(picons[$sname])" loading="lazy">$(channelnames[$sname])</div>
				</td>
#end for
			</tr>
		</thead>
		<tbody id="tbl1body">
#for $slot in list(range(0,12))
			<tr>
	#for $sname, $eventlist in $events.items()
				<td class="border">
					<div class="epg__slot" data-slot="$slot">
		#for $event in $eventlist[$slot]
			$renderEventBlock.render($event, $tstrings['edit_timer'])
		#end for
					</div>
				</td>
	#end for
			</tr>
#end for
		</tbody>
	</table>
</div>

#else
#set $timelineWidth = ($timeline_end - $first) / 6
<div id="fulltbl" class="responsive-table epg__timeline" data-slot-start="$slot_start" data-first="$first" data-timeline-end="$timeline_end" style="--epg-timeline-width:${timelineWidth}px;" data-refresh-url="ajax/multiepg?bref=$quote($bref)&amp;day=$day&amp;epgmode=$epgmode&amp;week=$week">
	<div id="tblinner">
		<div class="timetable">
			<div class="timetable-now"></div>
		</div>
#for $sname, $eventlist in $events.items()
#set $ref = $channelrefs.get($sname, "")
#set $qref = $quote($ref, safe=' ~@#$()*!+=:;,.?/\'').replace('%253a//','%3a//')
		<div class="epg__timeline-row epg__row" data-sref="$ref" data-ref="$qref">
			<div class="epg__channel-col">
				<div class="epg__channel">
					<div class="picon"><img src="$(picons[$sname])" alt="" loading="lazy" onerror="this.style.display='none'"></div>
					<label>$(channelnames[$sname])</label>
				</div>
			</div>
			<div class="epg__events-col">
				<ol class="eventlist">
#for $event in $eventlist[0]
	#set $ref = quote(event['ref'], safe=' ~@#$()*!+=:;,.?/\'')
	#set $end = $event.begin_timestamp + $event.duration
	#set $visibleBegin = max($event.begin_timestamp, $first)
	#set $visibleEnd = min($end, $timeline_end)
	#if $visibleEnd <= $visibleBegin
		#continue
	#end if
	#set $eventLeft = ($visibleBegin - $first) / 6
	#set $eventWidth = ($visibleEnd - $visibleBegin) / 6
	#set $iscurr = ""
	#if $event.begin_timestamp <= $now and $end > $now
		#set $iscurr = " curevent"
	#end if
	#set $timerClass = ''
	#if $event['timer']
		#set $timerClass = ' event--has-timer timer--' + $event['timer']['markerType']
	#end if
					<li class="event$timerClass" data-ref="$ref" data-id="${event.id}" data-begin="${event.begin_timestamp}" data-end="$end" data-toggle="modal" data-target="#EventModal" onclick="if (event.target.closest('.epg__timer-marker')) return; loadeventepg('${event.id}', '$ref');return false;" style="left:${eventLeft}px;width:${eventWidth}px;">
						<a href="javascript:void(0);" class="ui-widget-content ${iscurr}" title="$escape($event['title'], quote=True)">
							<span class="epg__timeline-info">
								<span class="ename">$escape($event['title'], quote=False)<span class="etimesmall"> ($strftime("%d.%m", $localtime($event['begin_timestamp'])))</span></span>
								<span class="etime">$strftime("%H:%M", $localtime($event['begin_timestamp'])) - $strftime("%H:%M", $localtime($event['begin_timestamp'] + $event['duration']))</span>
#if $event['timerStatus'] != ''
								<span class="etimer $event['timerStatus']">$tstrings['timer']</span>
#end if
							</span>
						</a>
#if $event['timer']
	#set $timerMetadata = $escape($dumps({'sref': $quote($event['timer']['sref']), 'begin': $event['timer']['begin'], 'end': $event['timer']['end']}, separators=(',', ':')), quote=True)
						<button type="button" class="epg__timer-marker" data-metadata="$timerMetadata" data-toggle="modal" data-target="#TimerModal" onclick="event.stopPropagation(); jQuery('#TimerModal').modal('show', this); return false;" title="$tstrings['edit_timer']" aria-label="$tstrings['edit_timer']"></button>
#end if
					</li>
#end for
				</ol>
			</div>
		</div>
#end for
	</div>
</div>
#end if
<div id="eventdescription"></div>
</div>

<script>
	ModernEpg.init(JSON.parse(document.getElementById('modern-epg').getAttribute('data-epg-config')));
</script>
