#filter WebSafe
#from json import dumps
#from html import escape
#from urllib.parse import quote
#from time import localtime, strftime
#from Plugins.Extensions.OpenWebif.controllers.i18n import tstrings
#from Plugins.Extensions.OpenWebif.controllers.defaults import isSettingEnabled

<style>
	#timerbuttons {
		width: max-content;
		max-width: calc(100vw - 30px);
	}
	#timerbuttons > li {
		display: block;
	}
	#timerbuttons > li > a {
		white-space: normal;
	}
</style>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="card">
		<div class="header">
			<div class="row clearfix">
				<div class="col-xs-12 col-sm-6">
					<h2><i class="material-icons material-icons-centered">alarm</i>$tstrings['timers']</h2>
				</div>
			</div>
			<ul class="header-dropdown list-tag-filter-toolbar m-r-5">
				<li><button type="button" class="list-tag-filter-toggle" data-tag-filter-toggle="timers" title="$tstrings['tag_filter_title']" aria-label="$tstrings['tag_filter_title']" aria-expanded="false"><svg class="list-tag-filter-icon--off" data-icon="ic:round-filter-alt-off" viewBox="0 0 24 24" aria-hidden="true"><path d="M19.79 5.61A.998.998 0 0 0 19 4H6.83l7.97 7.97zm.7 14.88L3.51 3.51A.996.996 0 1 0 2.1 4.92L10 13v5c0 1.1.9 2 2 2s2-.9 2-2v-1.17l5.07 5.07c.39.39 1.02.39 1.41 0s.4-1.02.01-1.41"/></svg><svg class="list-tag-filter-icon--on" data-icon="ic:round-filter-alt" viewBox="0 0 24 24" aria-hidden="true" hidden><path d="M4.25 5.61C6.57 8.59 10 13 10 13v5c0 1.1.9 2 2 2s2-.9 2-2v-5s3.43-4.41 5.75-7.39c.51-.66.04-1.61-.8-1.61H5.04c-.83 0-1.3.95-.79 1.61"/></svg></button></li>
				<li class="dropdown">
					<a href="javascript:void(0);" class="dropdown-toggle m-l-5 m-r-5" title="$tstrings['sort']" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">sort</i></a>
					<ul class="dropdown-menu pull-right">
						<li><a href="javascript:void(0);" onclick="lastcontenturl='';load_maincontent('ajax/timers'); return false;"><i class="material-icons material-icons-centered">vertical_align_center</i>$tstrings['default']</a></li>
						<li><a href="javascript:void(0);" onclick="lastcontenturl='';load_maincontent('ajax/timers?sort=name'); return false;"><i class="material-icons material-icons-centered">vertical_align_bottom</i>$tstrings['name']</a></li>
						<li><a href="javascript:void(0);" onclick="lastcontenturl='';load_maincontent('ajax/timers?sort=named'); return false;"><i class="material-icons material-icons-centered">vertical_align_top</i>$tstrings['name']</a></li>
						<li><a href="javascript:void(0);" onclick="lastcontenturl='';load_maincontent('ajax/timers?sort=date'); return false;"><i class="material-icons material-icons-centered">vertical_align_bottom</i>$tstrings['date']</a></li>
						<li><a href="javascript:void(0);" onclick="lastcontenturl='';load_maincontent('ajax/timers?sort=dated'); return false;"><i class="material-icons material-icons-centered">vertical_align_top</i>$tstrings['date']</a></li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
					<ul class="dropdown-menu pull-right" id="timerbuttons">
						<li class="dropdown"><a href="javascript:void(0);" onclick="lastcontenturl='';load_maincontent('ajax/timers'); return false;"><i class="material-icons">autorenew</i>$tstrings['reload']</a>
						<li><a href="#addtimer" data-toggle="modal" data-target="#TimerModal" id="timerbutton0"><i class="material-icons material-icons-centered">alarm_add</i>$tstrings['add_timer']</a></li>
						<li><a href="javascript:void(0);" onclick="lastcontenturl='';cleanupTimer(); return false"><i class="material-icons material-icons-centered">delete_forever</i>$tstrings['cleanup_timer']</a></li>
						<li><a href="javascript:void(0);" onclick="lastcontenturl='';load_maincontent('ajax/timers'); return false;"><i class="material-icons material-icons-centered">autorenew</i>$tstrings['refresh_timer']</a></li>
						<li><a href="#tagmanager"><i class="material-icons material-icons-centered">label</i>$tstrings['manage_tags']</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="body">
			<div id="tag-filter-timers" class="list-tag-filter" data-list="timers" data-known="$tstrings['known_tags']" data-used="$tstrings['tag_filter_used']" data-clear="$tstrings['tag_filter_clear']" data-matches="$tstrings['tag_filter_matches']" data-error="$tstrings['tag_filter_error']">
				<div class="list-tag-filter-panel" hidden><div class="list-tag-filter-options"></div></div>
				<div class="list-tag-filter-selection" hidden><span class="list-tag-filter-chips"></span><button type="button" class="btn btn-default list-tag-filter-clear">$tstrings['tag_filter_clear']</button><span class="list-tag-filter-count"></span></div>
			</div>
			<div id="content_main" >
				<div id="tvcontentmain">

#if $isSettingEnabled('mintimerlist') == 'checked'
<div class="row clearfix" id="timers">
	<div class="col-xs-12">
#else
<div id="timers">
	#if len($timers) == 0
		<p><a href="#addtimer" class="link--skinned" data-toggle="modal" data-target="#TimerModal" id="timerbutton0"><i class="material-icons material-icons-centered">alarm_add</i>$tstrings['add_timer']</a></p>
	#end if
#end if

#for $timer in $timers

#set $sref=quote($timer.serviceref, safe=' ~@#$()*!+=:;,.?/\'')
#set $tname=quote($timer.name)
#set $metadata = $dumps({ 'sref': quote($timer.serviceref), 'begin': $timer.begin, 'end': $timer.end }, indent=None, separators=(",", ":"))
#set $rowClass = 'row row-striped clearfix pad-top-15' if $isSettingEnabled('mintimerlist') == 'checked' else ''

#filter None
<div class="list-tag-filter-item $rowClass" id="$timer.begin-$timer.end" data-filter-tags="$escape($timer.tags or '', quote=True)" data-metadata="$escape($metadata, quote=True)">
#end filter

#if $isSettingEnabled('mintimerlist') == 'checked'
<div class="col-xs-12 col-md-6">
	<b>
	#if $timer.disabled
		<i class="material-icons material-icons-centered">alarm_off</i>
	#else
		<i class="material-icons material-icons-centered">alarm_on</i>
	#end if
		$timer.name - $timer.servicename
	</b>
	<div class="list-tag-item-tags"></div>
	</div>
	<div class="col-xs-12 col-md-3">
	<b>$tstrings[("day_" + (time.strftime("%w", time.localtime($timer.begin))))]</b>
	<time>$timer.realbegin</time> - <time>$timer.realend</time>
	<b>
	#if $timer.disabled
		$tstrings['disabled']
	#elif $timer.state == 0
		$tstrings['waiting']
	#elif $timer.state == 2
		$tstrings['running']
	#elif $timer.state == 3
		$tstrings['finished']
	#end if
	</b>
#if $timer.repeated != 0
	<div>
	$tstrings['every_timer']
	#set $flags=$timer.repeated
	#set $timerDays=[]
	#for $day in [$tstrings['monday'],$tstrings['tuesday'],$tstrings['wednesday'],$tstrings['thursday'],$tstrings['friday'],$tstrings['saturday'],$tstrings['sunday']]
		#if $flags&1
			$timerDays.append($day)
		#end if
		#set $flags = $flags >> 1
	#end for
	#echo ', '.join($timerDays)
	</div>
#end if
</div>
<div class="col-xs-12 col-md-3 align-right">
	<a href="#edittimer" class="link--skinned" data-toggle="modal" data-target="#TimerModal" data-ref="$sref" data-begin="$timer.begin" data-end="$timer.end" title="$tstrings['edit_timer']">
		<i class="material-icons material-icons-mg-right">edit</i>
	</a>
#if $timer.disabled
	<a href="javascript:void(0);" class="link--skinned" onclick="toggleTimerStatus('$sref', '$timer.begin', '$timer.end'); lastcontenturl=''; setTimeout(function(){load_maincontent('ajax/timers')}, 200); return false;" title="$tstrings['enable_timer']">
		<i class="material-icons material-icons-mg-right">alarm_on</i>
	</a>
#else
	<a href="javascript:void(0);" class="link--skinned" onclick="toggleTimerStatus('$sref', '$timer.begin', '$timer.end'); lastcontenturl=''; setTimeout(function(){load_maincontent('ajax/timers')}, 200); return false;" title="$tstrings['disable_timer']">
		<i class="material-icons material-icons-mg-right">alarm_off</i>
	</a>
#end if
	<a href="javascript:void(0);" class="link--skinned" onclick="deleteTimer('$sref', '$timer.begin', '$timer.end', '$tname'); lastcontenturl=''; setTimeout(function(){load_maincontent('ajax/timers')}, 200); return false;" title="$tstrings['delete_timer']">
		<i class="material-icons material-icons-mg-right">delete</i>
	</a>
</div></div>

#else
<div class="card">
	<div class="header">
		<div class="row clearfix m-b--20">
		<div class="col-xs-6">
			<h2 style="line-height: 1.4;">
	#if $timer.disabled
				<i class="material-icons material-icons-centered">alarm_off</i>
	#elif $timer.state == 0
		#if $timer.justplay == 1
				<i class="material-icons material-icons-centered">settings_remote</i>
		#else
				<i class="material-icons material-icons-centered">alarm</i>
		#end if
	#elif $timer.state == 2
				<i class="material-icons material-icons-centered">update</i>
	#elif $timer.state == 3
				<i class="material-icons material-icons-centered">done</i>
	#end if
				$timer.name
				<span style="opacity: 0.4;"> - $timer.servicename</span>
			</h2>
			<div class="list-tag-item-tags"></div>
		</div>
		<div class="col-xs-6">
		#set $sref=quote($timer.serviceref, safe=' ~@#$()*!+=:;,.?/\'')
		#set $tname=quote($timer.name)

		<ul class="header-dropdown" style="top: 0; right: 5px;">
			<li><span role="button"><a href="#edittimer" data-toggle="modal" data-target="#TimerModal" title="$tstrings['edit_timer']"><i class="material-icons material-icons-mg-right">edit</i></a></span></li>
			<li><span role="button"><a href="javascript:void(0);" onclick="toggleTimerStatus('$sref', '$timer.begin', '$timer.end'); lastcontenturl=''; setTimeout(function(){load_maincontent('ajax/timers')}, 200); return false;"
			#if $timer.disabled
				title="$tstrings['enable_timer']"><i class="material-icons material-icons-mg-right">alarm_on</i></a></span></li>
			#else
				title="$tstrings['disable_timer']"><i class="material-icons material-icons-mg-right">alarm_off</i></a></span></li>
			#end if
			<li><span role="button"><a href="javascript:void(0);" onclick="deleteTimer('$sref', '$timer.begin', '$timer.end', '$tname'); lastcontenturl=''; setTimeout(function(){load_maincontent('ajax/timers')}, 200); return false;" title="$tstrings['delete_timer']"><i class="material-icons material-icons-mg-right">delete</i></a></span></li>
		</ul>
		</div>
	</div>
</div>

	<div class="body">
		<div class="row clearfix m-b--20">
			<div class="col-sm-4">
				<time style="white-space: nowrap;">$timer.realbegin</time>
			#if $timer.justplay != 1:
				 - <time style="white-space: nowrap;">$timer.realend</time>
				 <span class="event__duration" style="opacity: 0.4; margin-left: 0.4ch;">($int($timer.duration / 60) $tstrings['mins'])</span>
			#end if
			#if $timer.repeated != 0
				<div>
				$tstrings['every_timer']
				#set $flags=$timer.repeated
				#set $timerDays=[]
				#for $day in [$tstrings['monday'],$tstrings['tuesday'],$tstrings['wednesday'],$tstrings['thursday'],$tstrings['friday'],$tstrings['saturday'],$tstrings['sunday']]
					#if $flags&1
						$timerDays.append($day)
					#end if
					#set $flags = $flags >> 1
				#end for
				#echo ', '.join($timerDays)
				</div>
			#end if

				<div class="m-t-10" style="font-weight: bold;">
				#if $timer.disabled
					$tstrings['disabled']
				#elif $timer.state == 0
					$tstrings['waiting']
				#elif $timer.state == 2
					$tstrings['running']
				#elif $timer.state == 3
					$tstrings['finished']
				#end if
				</div>
			</div>
			<div class="col-sm-8">
				$timer.description
			</div>
			</div>
		</div>
	</div>
</div>

#end if

#end for

</div>
</div>
</div>
</div>
</div>
</div>
</div>

<script>
	var reloadTimers = true;
	jQuery(function() {
		if (!timeredit_initialized) {
			jQuery('#editTimerForm').load('ajax/edittimer');
		}
		initListTagFilter('timers');
	});
</script>
#end filter
